html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  /* background-color: #00B4D8; */
  background: url('/images/play.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

.h3 {
  font-family: 'Press Start 2P', cursive;
  font-weight: 400;
  font-size: 30px;
  color: #ffffff;
}

.btnText{
  font-family: 'Press Start 2P', cursive;
  font-size: 20;
  color: #ffffff;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="First Name"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="Last Name"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin input[type="Email"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn{
  margin-bottom: 80px;
}
